.venv/
__pycache__/
*.pyc
.DS_Store
.env
.env.*
!/.env.example
api/.env
api/.env.*
!api/.env.example
frontend/node_modules/
frontend/dist/
frontend/.next/
.ipynb_checkpoints/
data/raw/
data/parquet/
data/summary/
*.log
